.bgimage {
	background-image: url("/assets/images/eq-logo_white.png");
	background-position: center center;
	background-size: cover;
	height: 200px
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  padding-top: 5px;
  margin-right: 40px;
  width: 274px;
  margin: 20px 5px 25px;
  overflow: hidden;
}

/* -couldn't figure this one out-
.work:nth-child(even) {
  margin-right: 40px;
}
*/

.work img {
  float: left;
  width: 50%;
  border: 0 none;
  opacity: 0.8;
  overflow: hidden;

}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #777;
  background-color:rgba(0, 0, 0, 0.5);	
  border-bottom: 0;
  overflow: hidden;
}
