/*.bgimage {
	background-image: url("/assets/images/eq-logo_white.png");
	background-position: center center;
	background-size: cover;
	height: 200px
}*/

/* portfolio page */
html,
body {
    height: 100%
}

.work {
  position: relative;
  float: none;
  padding-top: 5px;
  margin-right: 40px;
  width: 274px;
  margin: 20px 5px 25px;
  overflow: hidden;
}

.work img {
  float: left;
  width: 75%;
  border: 0 none;
  opacity: 0.8;
  overflow: hidden;

}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #777;
  background-color:rgba(0, 0, 0, 0.5);	
  border-bottom: 0;
  overflow: hidden;
}

#bg-3 {
  background: url(images/congruent_outline.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }


 .bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
    border-top: 8px solid #777;
    z-index: 99;
}

footer {
  z-index: 99;
  padding: 30px 0;
  margin-top: 10px;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #777;
  position: relative;
  bottom: 0;
  display: block;
  
  
  
}